<div class="info">
  <div class="carac">
    <div class="places-and-distance">
      <% if bike_park.capacity.to_i == 0 %>
      <% elsif bike_park.capacity.to_i == 1 %>
        <div class="text">
          <%= bike_park.capacity %> place
        </div>
      <% else %>
        <div class="text">
          <%= bike_park.capacity %> places
        </div>
      <% end %>
      <div class="text">
        <%="#{(Geocoder::Calculations.distance_between(bike_park, address)*1000).round}m"%>
      </div>
    </div>
    <div class="more-info">
      <% if bike_park.typology.downcase != "inconnu" %>
        <div class="text clair">
          <%= bike_park.typology.downcase %>
        </div>
      <% end %>
      <div class="text clair">
        <% if bike_park.covered %>
          couvert
        <% else %>
          non couvert
        <% end %>
      </div>
      <div class="text clair">
        <% if bike_park.free %>
          gratuit
        <% else %>
          payant
        <% end %>
      </div>
    </div>
  </div>

  <% endcoord = "#{bike_park.lat}" + "%2C" + "#{bike_park.lng}" %>
  <% endname = "parc à vélos" %>
  <% endaddress = "#{bike_park.location.gsub(" ", "%20").gsub(",","%2C")}" %>
  <% url = "https://citymapper.com/directions?endcoord=" + endcoord + "&endname=" + endname + "&endaddress=" + endaddress %>
  <a href="<%= url %>" target="blank">
    <div class="lien">
      <%= image_tag "citymapper.png", class: "citymapper" %>
    </div>
  </a>
</div>






