<h1>Capacité : <%= bike_park.capacity %></h2>
<h1><%= "à #{(Geocoder::Calculations.distance_between(bike_park, address)*1000).round}m"%></h4>
<% couvert = bike_park.covered ? "couvert" : "non couvert" %>
<% gratuit = bike_park.covered ? "gratuit" : "payant" %>
<% if bike_park.typology.downcase != "inconnu" %>
  <h4><%= bike_park.typology.capitalize %></h1>
<% end %>
<h4><%= "#{couvert} et #{gratuit}" %></h2>
<h4><%= bike_park.location %></h3>

