<div class="page-globale">
  <div id="map"
       style="width: 100vw; height: 100vh;"
       data-markers="<%= @markers.to_json %>"
       data-address="<%= @marker_address.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="search-bar-address">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "search_address",
        placeholder: "Adresse"
      %>
      <%= submit_tag "Search", class: "go" %>
    <% end %>
  </div>

</div>

