<div class="page-globale">
  <div id="map"
       style="width: 100vw; height: 100vh;"
       data-markers="<%= @markers.to_json %>"
       data-address="<%= @marker_address.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="search-bar-address">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "search_address",
        placeholder: "Adresse"
      %>
      <div class="autour-go">
        <div class="go geoloc">Autour de moi</div>
        <%= submit_tag "Go", class: "go" %>
      </div>
    <% end %>
  </div>
</div>

<% if @markers == [] %>
  <div class="no-results-container">
    <div class="no-results">
      Désolé, nous n'avons trouvé aucun parc à vélos à proximité...
    </div>
  </div>
<% end %>

<div class="footer">© les contributeurs d'OpenStreetMap sous licence ODbL</div>

